<div id="edit_oks_p1">
    <a href="#" class="close_okno">x</a><br>
    <p class="title_form">Редактировать запись</p>
    <form action="{% url 'oks_p1_edit' %}" method="post">
        {% csrf_token %}
         <table class="table_oks_form">
            <thead>
                <tr>
                    <th class="table_oks_form_th" colspan="6">Определение компонентного состава конденсата нестабильного</th>
                </tr>
                <tr>
                    <th class="table_oks_form_th" colspan="6">10Р-2№2 Протокол анализа №09-2021 PVT(К) от {{ max_date_now|date:"d.m.Y" }}</th>
                </tr>
                <tr>
                    <th class="table_oks_form_th">Наименование</th>
                    <th class="table_oks_form_th">Мольное содержание компонентов, %</th>
                    <th class="table_oks_form_th">Молярная масса компонента</th>
                    <th class="table_oks_form_th">Молярная масса общая, гр/моль</th>
                    <th class="table_oks_form_th">Масс, % (хрома-тограф)</th>
                    <th class="table_oks_form_th">Масс, % (расчетная)</th>
                </tr>
            </thead>
            <tbody>
                {% for form in form_set %}
                    <tr>
                        <td>{{ form.name }}</td>
                        <td>{{ form.molar_content_of_components }}</td>
                        <td>{{ form.molar_mass_of_the_component }}</td>
                        <td>{{ form.total_molar_mass }}</td>
                        <td>{{ form.chromatograph_mass }}</td>
                        <td>{{ form.calculated_mass }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="2">
                        <input type="hidden" name="form-TOTAL_FORMS" id="id_form-TOTAL_FORMS" value='12'>
                        <input type="hidden" name="form-INITIAL_FORMS" id="id_form-INITIAL_FORMS"  value='12'>
                        <input type="hidden" name="form-MIN_NUM_FORMS" id="id_form-MIN_NUM_FORMS"  value='12'>
                        <input type="hidden" name="form-MAX_NUM_FORMS" id="id_form-MAX_NUM_FORMS"  value='12'>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="button_save_form">Сохранить</button>
    </form>
</div>


