<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>АСРМБ</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/rp_g.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/raports_mag.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/raports.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/print.css'  %}" type="text/css" media="print">
</head>
<body>
    
    <div class="sidebar"> <!--Можно будет убрать close и допменю будет в баре -->
        <div class="logo-details">
            <img  class='logo_site' src="{% static 'images/logo.png' %}"/>
            <span class="logo_name">AСМБР</span>
        </div>
        {%block sidebar%}
    
        {%endblock%}
            
        <div class="profile-details">
            <div class="profile-content">
                <svg  width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path></svg>
            </div>
            <div class="name-job">
                <div class="profile_name">{{ user.username|default:'гость' }}</div>
                <div class="job">Инженер-клац</div>
            </div>
            <svg class="logout" width="45" height="45" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M16 13v-2H7V8l-5 4 5 4v-3z"></path><path d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2z"></path></svg>
            </div>
    
    </div>

    <section class="home-section">
        {% include 'asrmb_main/navbar.html'%}

        {% comment %} <div class="home-content" style='background: #fff'> {% endcomment %}
        {% block content %}
        {% endblock %}
        {% comment %} <div> {% endcomment %}
    </section>
    {% comment %} <script type="text/javascript" src="{% static 'js/jquery-3.6.3.js'%}" ></script>  {% endcomment %}
    <script type="text/javascript" src="{% static 'js/sidebar.js'%}" ></script>
    <script type="text/javascript" src="{% static 'js/printer.js'%}" ></script>
    <script type="text/javascript" src="{% static 'js/oks/oks_sum_element.js'%}" ></script>
</body>
</html>