
<div class="side_tree">
    <ul class="nav-links">
        <li>
            <a class="link_name side_tree_text" href="#"  >Приложение №1</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#"  >Приложение №2</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#" >Приложение №3</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#" >Приложение №4</a>
        </li>
        <li>
            <a class=" link_name side_tree_text" href="#" >Приложение №5</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#" >Приложение №6</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#" >Приложение №7</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#" >Приложение №8</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#" >Приложение №9</a>
        </li>
        <li>
            <a class="link_name side_tree_text" href="#" >Приложение №10</a>
        </li>
    </ul>
</div>