{%extends 'asrmb_main/base.html' %}
{% load static %}
{% block sidebar %}
<div class="tabs">
<input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
<label for="tab-btn-1">Функционал</label>
<input type="radio" name="tab-btn" id="tab-btn-2" value="">
<label for="tab-btn-2">Таблицы</label>


    <div id="content-1">
        <ul class="nav-links">
            <li>
                <a href="#">
                    <svg class='bx bx-grid-alt' width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg>
                    <form id='checkDateOks' class="link_name" method="post" action="#" >
                        {% csrf_token %}
                        <input type="date" class='form-control' name='date_create'  onchange="document.getElementById('checkDateOks').submit()" value="{{ just_day|date:"Y-m-d" }}"  max="{{max_date_now}}">
                    </form>

                    <form class="sub-menu blank" method="post" action="#" >
                        {% csrf_token %}
                        <input type="date" class='form-control' name='date_create'  onchange="document.getElementById('checkDateOks').submit()" value="{{ just_day|date:"Y-m-d" }}"  max="{{max_date_now}}">
                    </form>
                </a>
            </li>
            <li>
                <a href="{% url 'oks_p7_create' %}">
{#                <a href="{% url 'oks_p7_create' %}">#}
                    <svg width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M5 21h14a2 2 0 0 0 2-2V8a1 1 0 0 0-.29-.71l-4-4A1 1 0 0 0 16 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zm10-2H9v-5h6zM13 7h-2V5h2zM5 5h2v4h8V5h.59L19 8.41V19h-2v-5a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v5H5z"></path></svg>
                    <span class="link_name" style="color:#000;">Добавить</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'oks_p7_create' %}">Добавить</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'oks_p7_edit' url_oks_p7 %}" >
                    <svg class='bx bx-grid-alt' width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
                    <span class="link_name" style="color:#000;">Редактировать</span>
                </a>
                 <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'oks_p7_edit' url_oks_p7 %}">Редактировать</a></li>
                </ul>
            </li>
            <li>
                <a href="#delete_oks">
                    <svg width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path></svg>
                    <span class="link_name" style="color:#000;">Удалить</span>
                </a>
                 <ul class="sub-menu blank">
                    <li><a class="link_name" href="#delete_oks">Удалить</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% include 'asrmb_oks/sidebar_tables.html' %}
</div>
{% endblock %}

{% block content %}
    <div class="base_content print" id='print'>
        <div class="table_content">
            <table>
                <thead class="table_content_header">
                    <tr>
                        <th class="table_content_th" colspan="6">Определение компонентного состава конденсата нестабильного</th>
                    </tr>
                    <tr>
                        <th class="table_content_th" colspan="6">10С-4№2 </th>
                    </tr>
                    <tr>
                        <th class="table_content_th">Наименование</th>
                        <th class="table_content_th">Мольное содержание компонентов, %</th>
                        <th class="table_content_th">Молярная масса компонента</th>
                        <th class="table_content_th">Молярная масса общая, гр/моль</th>
                        <th class="table_content_th">Масс, % (хрома-тограф)</th>
                        <th class="table_content_th">Масс, % (расчетная)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oks_item in oks_p7_items%}
                        <tr>
                            <td class="table_content_td"><span>{{oks_item.name|default_if_none:"-"}}</span></td>
                            <td class="table_content_td"><span>{{oks_item.molar_content_of_components|default_if_none:"-"}}</span></td>
                            <td class="table_content_td"><span>{{oks_item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                            <td class="table_content_td"><span>{{oks_item.total_molar_mass|default_if_none:"-"}}</span></td>
                            <td class="table_content_td"><span>{{oks_item.chromatograph_mass|default_if_none:"-"}}</span></td>
                            <td class="table_content_td"><span>{{oks_item.calculated_mass|default_if_none:"-"}}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
         <div id="delete_oks">
            <a href="#" class="close_okno">x</a><br>
            Удалить запись
             <form action="{% url 'oks_p7_delete' url_oks_p7 %}" method="post">
                 {% csrf_token %}
                 <button type="submit" > Удалить</button>
             </form>
         </div>
    </div>
{% endblock %}