
{%extends 'base.html' %}

{% block sidebar%}
{%load static%}
<ul class="nav-links" style="padding: 300px 0 150px 0;">
    <li>
        <a href="#">
            <svg class='bx bx-grid-alt' width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg>
            <form class="link_name" method="post" action="{% url 'filter_date_sar' %}" class="js-product-update-form">
                {% csrf_token %}
                <input type="date" class='form-control'  name='date_update' max={{max_date_now}} >
                <input class="btn btn-primary" type="submit" value='Выбрать'>
            </form>
        
                    
            <form class="sub-menu blank" method="post" action="{% url 'filter_date_sar' %}" class="js-product-update-form">
                {% csrf_token %}
                <input type="date" class='form-control'  name='date_update' max={{max_date_now}} >
                <input class="btn btn-primary" type="submit" value='Выбрать'>
            </form>
           
        </a>

    </li>
    <li>
        <a href="{% url 'sar_edit' %}">
            <svg class='bx bx-grid-alt' width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
            <span class="link_name" style="color:#000;">Редактировать</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="{% url 'sar_edit' %}">Редактировать</a></li>
        </ul>
    </li>


    <li>
        <a onclick="printEl()" href="#">
            {% comment %} <i class='bx bx-grid-alt'></i> {% endcomment %}
            <svg class='bx bx-grid-alt' width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M19 7h-1V2H6v5H5c-1.654 0-3 1.346-3 3v7c0 1.103.897 2 2 2h2v3h12v-3h2c1.103 0 2-.897 2-2v-7c0-1.654-1.346-3-3-3zM8 4h8v3H8V4zm8 16H8v-4h8v4zm4-3h-2v-3H6v3H4v-7c0-.551.449-1 1-1h14c.552 0 1 .449 1 1v7z"></path><path d="M14 10h4v2h-4z"></path></svg>
            <span class="link_name" style="color:#000;">Распечатать</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" onclick="printEl()" href="#">Распечатать</a></li>
        </ul>
    </li>

</ul>
{%endblock%}
    



{%block content%}

<div class="tableRaportsSar print">
    {% comment %} style="width:100%" {% endcomment %}
            
    <table id="product-table" style="width:95%">
        <thead>
            <tr>
                <th class="objCellsar" style="text-align: center" >№п/п</th>
                <th class="objCellsar" colspan=4 style="text-align: right"> Форма №1</th>
            </tr>
            <tr>
                <th class="objCellsar" ></th>
                <th class="objCellsar" colspan=4 style="text-align: center">Cуточной рапорт УКПГ Киринского ГКМ</th>
            </tr>
            {% comment %} {%for item_day in items_ser_day%}{{item_day.date_update|date:"d.m.Y" }}{%endfor%} {% endcomment %}
            <tr>
                <th class="objCellsar"></th>
                <th class="objCellsar">Дата {{delta_day}} </th>
                <th class="objCellsar">Ед.изм</th>
                <th class="objCellsar">за сутки</th>
                <th class="objCellsar">за месяц</th>
            </tr>
            
        </thead>

        <tbody> 

            <tr>
                <th class="objCellsar"></th>
                <th class="objCellsar" colspan=4>Газ горючий природный</th>
            </tr>
            {% comment %} TEST  {% endcomment %}
            <tr>
                <td class="objCellsar">1</td>
                <td class="objCellsar" style="text-align: left">Добыча ГГП</td>
                <td class="objCellsar">тыс.м3</td>
                {% comment %} {% for item_day in items_ser_day%} {% endcomment %}
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_1|default:'-'}}{%endfor%}</td>
                {% comment %} {%endfor%} {% endcomment %}
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_101|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">2</td>
                <td class="objCellsar" style="text-align: left">Газ горючий природный, магистральный<br>газопровод УКУГ</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_2|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_102|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">3</td>
                <td class="objCellsar" style="text-align: left">Газ СН из добытых ресурсов *</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_4|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_103|default:'-'}}{%endfor%}</td>



            </tr>
            <tr>
                <td class="objCellsar">4</td>
                <td class="objCellsar" style="text-align: left">Газ СН из ресурсов, полученных обратным<br>ходом на УКУГ **</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_3|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_104|default:'-'}}{%endfor%}</td>

            </tr>

            <tr>
                <td class="objCellsar">5</td>
                <td class="objCellsar" style="text-align: left">Потери газа при добыче</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_5|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_105|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">6</td>
                <td class="objCellsar" style="text-align: left">Газ стабилищации в МГ после КУ</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_6|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_106|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">7</td>
                <td class="objCellsar" style="text-align: left">Потери газа стабилизации при переработке</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_7|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_107|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">8</td>
                <td class="objCellsar" style="text-align: left">Газ стабилизации в факельную систему</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_8|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_108|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">9</td>
                <td class="objCellsar" style="text-align: left">Потери газа при проведении ремонтных работ<br>на МГ ***</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_9|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_109|default:'-'}}{%endfor%}</td>
            </tr>
           
            


{% comment %} TEST {% endcomment %}
            <tr>
                <th class="objCellsar" ></th>
                <th class="objCellsar" colspan=4>Конденсат газовый</th>
            </tr>

            <tr>
                <td class="objCellsar">10</td>
                <td class="objCellsar" style="text-align: left">Добыча КГН</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_10|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_110|default:'-'}}{%endfor%}</td>
            </tr>

            <tr>
                <td class="objCellsar">11</td>
                <td class="objCellsar" style="text-align: left">Потери КГН при добыче</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_11|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_111|default:'-'}}{%endfor%}</td>
            </tr>

            <tr>
                <td class="objCellsar">12</td>
                <td class="objCellsar" style="text-align: left">Возврат КГН в переработку из 10Е3 в 10Р-2</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_12|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_112|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">13</td>
                <td class="objCellsar" style="text-align: left">Производство КГС</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_13|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_113|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">14</td>
                <td class="objCellsar" style="text-align: left">Потери КГН при переработке</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_14|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_114|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">15</td>
                <td class="objCellsar" style="text-align: left">Переход КГН в другой вид продукции<br>(Газ стабилизации)</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_15|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_115|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">16</td>
                <td class="objCellsar" style="text-align: left">КГС переданный в СЭИК</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_16|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_116|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">17</td>
                <td class="objCellsar" style="text-align: left">КГС в 50Р-1 №1</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_17|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">-----------</td>
                {% comment %} <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_117|default:'-'}}{%endfor%}</td> {% endcomment %}
            </tr>
            <tr>
                <td class="objCellsar">18</td>
                <td class="objCellsar" style="text-align: left">КГС в 50Р-1 №2</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_18|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">-----------</td>
                {% comment %} <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_118|default:'-'}}{%endfor%}</td> {% endcomment %}
            </tr>
            <tr>
                <td class="objCellsar">19</td>
                <td class="objCellsar" style="text-align: left">Возврат КГС из ВТК в 10Р-2 ***</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_19|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_119|default:'-'}}{%endfor%}</td>
            </tr>
            <tr>
                <td class="objCellsar">20</td>
                <td class="objCellsar" style="text-align: left">Потери КГС при проведении ремонтных работ<br>на ВТК ***</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">{%for item_day in items_ser_day%}{{item_day.ser_20|default:'-'}}{%endfor%}</td>
                <td class="objCellsar">{%for item_month in items_ser_month%}{{item_month.ser_120|default:'-'}}{%endfor%}</td>
            </tr>

            

            <tr>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
            </tr>
            <tr>
                <td colspan=4 ><p>* - в период эсплуатации УКПГ </p></td>
            </tr>
            <tr>
                <td colspan=4 ><p>** - в период останова УКПГ </p></td>
            </tr>
            <tr>
                <td colspan=4 ><p>*** - в период проведения ремонтный на ВТК и/или МГ </p></td>    
            </tr>

            <tr>
                <td> <br></td>
            </tr>
            <tr>
                <td><br> </td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>
            {% comment %} <tr>
                <td colspan=4 style="text-align: left"><p>Начальник УКПГ </td><td colspan=4 style="text-align: right">____________ Д.Ю Позднышев</p></td>
            </tr>
            <tr>
                <td colspan=4 style="text-align: left"><p>Мастер по ПГ СДГ и ГК</td><td colspan=4 style="text-align: right"> ____________ М.А. Ахмеров</p></td>
            </tr>
            <tr>
                <td colspan=4 style="text-align: left"><p>Мастер по КАиТ САТиМ</td><td colspan=4 style="text-align: right"> ____________ С.А. Мишунин</p></td>    
            </tr> {% endcomment %}
            

        </tbody>
    </table>

    

    
</div>
{%endblock%}