<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>АСРМБ</title>
    {% comment %} <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css'  %}" type="text/css">

</head>
<body>
    
    <div class="sidebar"> <!--Можно будет убрать close и допменю будет в баре -->
        <div class="logo-details">
            <img  class='logo_site' src="{% static 'images/logo.png' %}"/>
            <span class="logo_name">AСМБР</span>
        </div>
        {%block sidebar%}
    
        {%endblock%}
            
        <div class="profile-details">
            <div class="profile-content">
                <img src="{% static 'images/user.png' %}" alt="profile">
            </div>
            <div class="name-job">
                <div class="profile_name">Чувак</div>
                <div class="job">Инженер-клац</div>
            </div>
            <img class="logout" src="{% static 'images/log-out.png' %}" alt="profile">
            {% comment %} <i class='bx bx-log-out'></i>  {% endcomment %}
        </div>
    
    </div>

    <section class="home-section">
        {% include 'navbar.html'%}

        <div class="home-content" style='background: #fff'>
            {% block content %}
            {% endblock %}
        <div>
    </section>
    {% comment %} <script type="text/javascript" src="{% static 'js/jquery-3.6.3.js'%}" ></script>  {% endcomment %}
    <script type="text/javascript" src="{% static 'js/sidebar.js'%}" ></script>
</body>
</html>