{% load static%}


<div class="home-content">
    
    <svg class='bx bx-menu' width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
    
    <a class="text" href="#">Определение компонентного состава</a>
    <a class="text" href="#">Расчет технологических потерь</a>
    <a class="text" href="#">Расчет массы</a>
    <a class="text" href="#">Коэффициенты сверживаемости</a>
    <a class="text" href="#">Потери газового конденсата через неплотности</a>

    <div class='dropdown'>
        <a href="#" class="text dropbtn">Отчеты</a>
        <div class="dropdown-content">
            <a href="{% url 'sar'%}">Суточный рапорт УКПГ</a>
            <a href="#">Ежемесячный эксплуатационный рапорт</a>
            <a href="#">Материальный баланс МЭГ</a>
            <a href="#">Суточный рапорт Киринского ГКМ</a>
        </div>
    </div>
    
</div>
    
