{%extends 'asrmb_main/base.html' %}
{% load static %}
{% block sidebar %}

    <div class="tabs">
        <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
        <label for="tab-btn-1">Функционал</label>
        <input type="radio" name="tab-btn" id="tab-btn-2" value="">
        <label for="tab-btn-2">Таблицы</label>
        <div id="content-1">
            <ul class="nav-links">
                <li>
                    <a href="#"  onclick="document.getElementById('form_rtp_3').submit()" >
                        <svg  width="60" height="60" viewBox="0 0 24 24" style="fill:rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M10 11H7.101l.001-.009a4.956 4.956 0 0 1 .752-1.787 5.054 5.054 0 0 1 2.2-1.811c.302-.128.617-.226.938-.291a5.078 5.078 0 0 1 2.018 0 4.978 4.978 0 0 1 2.525 1.361l1.416-1.412a7.036 7.036 0 0 0-2.224-1.501 6.921 6.921 0 0 0-1.315-.408 7.079 7.079 0 0 0-2.819 0 6.94 6.94 0 0 0-1.316.409 7.04 7.04 0 0 0-3.08 2.534 6.978 6.978 0 0 0-1.054 2.505c-.028.135-.043.273-.063.41H2l4 4 4-4zm4 2h2.899l-.001.008a4.976 4.976 0 0 1-2.103 3.138 4.943 4.943 0 0 1-1.787.752 5.073 5.073 0 0 1-2.017 0 4.956 4.956 0 0 1-1.787-.752 5.072 5.072 0 0 1-.74-.61L7.05 16.95a7.032 7.032 0 0 0 2.225 1.5c.424.18.867.317 1.315.408a7.07 7.07 0 0 0 2.818 0 7.031 7.031 0 0 0 4.395-2.945 6.974 6.974 0 0 0 1.053-2.503c.027-.135.043-.273.063-.41H22l-4-4-4 4z"></path></svg>
                        <span class="link_name" style="color:#000;">Сохранить</span>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#" onclick="document.getElementById('form_rtp_3').submit()" >Сохранить</a></li>
                        </ul>
                    </a>
                </li>

                <li>
                    <a href="{% url 'rtp_3' %}">
                        <svg  width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 113, 185, 255);transform: ;msFilter:;"><path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path></svg><span class="link_name" style="color:#000;">Назад</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'rtp_3' %}">Назад</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% include 'asrmb_rtp/sidebar_tables.html' %}
</div>

{% endblock %}

{% block content %}
    <div class="base_content print" id='print'>
        <div class="table_content_rtp" style="left: 0%">
            <p class="title_form">Создать запись</p>
            <form action="" method="post" id="form_rtp_3" >
                {% csrf_token %}

                <table class="table_content_header">
                    <thead>
                        <tr>
                            <th class="table_content_th_rtp" ></th>
                            <th class="table_content_th_rtp" >п.34</th>
                            <th class="table_content_th_rtp" >30Р-1</th>
                            <th class="table_content_th_rtp" >10С-1</th>
                            <th class="table_content_th_rtp" >10С-4</th>
                            <th class="table_content_th_rtp" ></th>
                        </tr>
                        <tr>
                            <th class="table_content_th_rtp">nг.прод=</th>
                            <td class="table_content_th_rtp" colspan="4" rowspan="3">
                                <table>
                                    <tbody>
                                    {% for form in form_meter %}
                                        <tr>
                                            <td class="table_content_td_rtp">{{ form.meter_p34 }}</td>
                                            <td class="table_content_td_rtp">{{ form.meter_30p1 }}</td>
                                            <td class="table_content_td_rtp">{{ form.meter_10c1 }}</td>
                                            <td class="table_content_td_rtp">{{ form.meter_10c4 }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <th class="table_content_th_rtp">%</th>
                        </tr>
                        <tr>
                            <th class="table_content_th_rtp">nг.пл =</th>
                            <th class="table_content_th_rtp">%</th>
                        </tr>
                        <tr>
                            <th class="table_content_th_rtp">Xг.прод=</th>
                            <td class="table_content_th_rtp"></td>
                        </tr>
                    </thead>
                </table>

                <br>
                <table class="table_content_header">
                    <thead>
                    <tr>
                        <th class="table_content_th_rtp" colspan="17">3. Технологические потери природного газа при отборе проб, м3 (п. 4.5)</th>
                    </tr>
                    <tr>
                        <th class="table_content_th_rtp">вид анализа</th>
                        <th class="table_content_th_rtp">Vпр</th>
                        <th class="table_content_th_rtp">Рпр</th>
                        <th class="table_content_th_rtp">Tпр</th>
                        <th class="table_content_th_rtp">Zпр</th>
                        <th class="table_content_th_rtp">b</th>
                        <th class="table_content_th_rtp">ni </th>
                        <th class="table_content_th_rtp">Xг.прод</th>
                        <th class="table_content_th_rtp">Пг.оп</th>
                        <th class="table_content_th_rtp">Прибор</th>
                        <th class="table_content_th_rtp">Vр</th>
                        <th class="table_content_th_rtp">τ</th>
                        <th class="table_content_th_rtp">Xг.прод</th>
                        <th class="table_content_th_rtp">N</th>
                        <th class="table_content_th_rtp">Пг.пот</th>
                        <th class="table_content_th_rtp">Пг.пр</th>

                    </tr>
                    </thead>

                    <tbody id="items-form-container">
                        {{ form_set.management_form }}
                        {% for form in form_set %}
                            <tr class="items-form">
                                <td class="table_content_td_rtp">{{form.type_of_analysis}}</td>
                                <td class="table_content_td_rtp">{{form.v_pr}}</td>
                                <td class="table_content_td_rtp">{{form.p_pr}}</td>
                                <td class="table_content_td_rtp">{{form.t_pr}}</td>
                                <td class="table_content_td_rtp">{{form.z_pr}}</td>
                                <td class="table_content_td_rtp">{{form.b}}</td>
                                <td class="table_content_td_rtp">{{form.ni}}</td>
                                <td class="table_content_td_rtp">{{form.xr_prod}}</td>
                                <td class="table_content_td_rtp">{{form.pr_op}}</td>
                                <td class="table_content_td_rtp">{{form.device}}</td>
                                <td class="table_content_td_rtp">{{form.v_p}}</td>
                                <td class="table_content_td_rtp">{{form.tau}}</td>
                                <td class="table_content_td_rtp">{{form.xrr_prod}}</td>
                                <td class="table_content_td_rtp">{{form.n}}</td>
                                <td class="table_content_td_rtp">{{form.pr_pot}}</td>
                                <td class="table_content_td_rtp">{{form.pr_pr}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#" id="add-item" type="button" style="text-decoration: none;" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(0,58,255);transform: ;msFilter:;"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
                </a>

                <a href="#" id="delete-item" type="button" style="text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(253,2,2);transform: ;msFilter:;"><path d="M5 11h14v2H5z"></path></svg>
                </a>
                <script type="text/javascript" src="{% static 'js/rtp/rtp-3.js'%}" ></script>
                <script type="text/javascript" src="{% static 'js/rtp/rtp-3-meter.js'%}" ></script>
            </form>
        </div>
    </div>


{% endblock %}
