{% load static %}
<div id="edit_oks_p3">
    <a href="#" class="close_okno">x</a><br>
    <p class="title_form">Редактировать запись</p>
    <form action="" method="post">
        {% csrf_token %}
         <table class="table_oks_form">
            <thead>
                <tr>
                    <th class="table_oks_form_th" colspan="6">Определение компонентного состава конденсата нестабильного</th>
                </tr>
                <tr>
                    <th class="table_oks_form_th" colspan="6">10Р-2№2 Протокол анализа №09-2021 PVT(К) от {{ max_date_now|date:"d.m.Y" }}</th>
                </tr>
                <tr>
                    <th class="table_oks_form_th">Наименование</th>
                    <th class="table_oks_form_th">Мольное содержание компонентов, %</th>
                    <th class="table_oks_form_th">Молярная масса компонента</th>
                    <th class="table_oks_form_th">Молярная масса общая, гр/моль</th>
                    <th class="table_oks_form_th">Масс, % (хрома-тограф)</th>
                    <th class="table_oks_form_th">Масс, % (расчетная)</th>
                </tr>
            </thead>
            <tbody>
{#                {% for form in form_set %}#}
{#                    <tr>#}
{#                        <td>{{ form.name }}</td>#}
{#                        <td>{{ form.molar_content_of_components }}</td>#}
{#                        <td>{{ form.molar_mass_of_the_component }}</td>#}
{#                        <td>{{ form.total_molar_mass }}</td>#}
{#                        <td>{{ form.chromatograph_mass }}</td>#}
{#                        <td>{{ form.calculated_mass }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                <tr>#}
{#                    <td><input type="text" name="form-0-name" maxlength="255" value="C1" id="id_form-0-name"></td>#}
{#                    <td><input type="number" name="form-0-molar_content_of_components" step="any" id="id_form-0-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-0-molar_mass_of_the_component" step="any" id="id_form-0-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-0-total_molar_mass" step="any" id="id_form-0-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-0-chromatograph_mass" step="any" id="id_form-0-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-0-calculated_mass" step="any" id="id_form-0-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-1-name" maxlength="255" value="C2" id="id_form-1-name"></td>#}
{#                    <td><input type="number" name="form-1-molar_content_of_components" step="any" id="id_form-1-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-1-molar_mass_of_the_component" step="any" id="id_form-1-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-1-total_molar_mass" step="any" id="id_form-1-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-1-chromatograph_mass" step="any" id="id_form-1-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-1-calculated_mass" step="any" id="id_form-1-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-2-name" maxlength="255" value="C3" id="id_form-2-name"></td>#}
{#                    <td><input type="number" name="form-2-molar_content_of_components" step="any" id="id_form-2-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-2-molar_mass_of_the_component" step="any" id="id_form-2-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-2-total_molar_mass" step="any" id="id_form-2-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-2-chromatograph_mass" step="any" id="id_form-2-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-2-calculated_mass" step="any" id="id_form-2-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-3-name" maxlength="255" value="i-C4" id="id_form-3-name"></td>#}
{#                    <td><input type="number" name="form-3-molar_content_of_components" step="any" id="id_form-3-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-3-molar_mass_of_the_component" step="any" id="id_form-3-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-3-total_molar_mass" step="any" id="id_form-3-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-3-chromatograph_mass" step="any" id="id_form-3-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-3-calculated_mass" step="any" id="id_form-3-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-4-name" maxlength="255" value="n-C4" id="id_form-4-name"></td>#}
{#                    <td><input type="number" name="form-4-molar_content_of_components" step="any" id="id_form-4-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-4-molar_mass_of_the_component" step="any" id="id_form-4-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-4-total_molar_mass" step="any" id="id_form-4-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-4-chromatograph_mass" step="any" id="id_form-4-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-4-calculated_mass" step="any" id="id_form-4-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-5-name" maxlength="255" value="i-C5" id="id_form-5-name"></td>#}
{#                    <td><input type="number" name="form-5-molar_content_of_components" step="any" id="id_form-5-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-5-molar_mass_of_the_component" step="any" id="id_form-5-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-5-total_molar_mass" step="any" id="id_form-5-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-5-chromatograph_mass" step="any" id="id_form-5-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-5-calculated_mass" step="any" id="id_form-5-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-6-name" maxlength="255" value="n-C5" id="id_form-6-name"></td>#}
{#                    <td><input type="number" name="form-6-molar_content_of_components" step="any" id="id_form-6-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-6-molar_mass_of_the_component" step="any" id="id_form-6-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-6-total_molar_mass" step="any" id="id_form-6-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-6-chromatograph_mass" step="any" id="id_form-6-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-6-calculated_mass" step="any" id="id_form-6-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-7-name" maxlength="255" value="C6+" id="id_form-7-name"></td>#}
{#                    <td><input type="number" name="form-7-molar_content_of_components" step="any" id="id_form-7-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-7-molar_mass_of_the_component" step="any" id="id_form-7-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-7-total_molar_mass" step="any" id="id_form-7-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-7-chromatograph_mass" step="any" id="id_form-7-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-7-calculated_mass" step="any" id="id_form-7-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-8-name" maxlength="255" value="N2" id="id_form-8-name"></td>#}
{#                    <td><input type="number" name="form-8-molar_content_of_components" step="any" id="id_form-8-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-8-molar_mass_of_the_component" step="any" id="id_form-8-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-8-total_molar_mass" step="any" id="id_form-8-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-8-chromatograph_mass" step="any" id="id_form-8-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-8-calculated_mass" step="any" id="id_form-8-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-9-name" maxlength="255" value="CO2" id="id_form-9-name"></td>#}
{#                    <td><input type="number" name="form-9-molar_content_of_components" step="any" id="id_form-9-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-9-molar_mass_of_the_component" step="any" id="id_form-9-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-9-total_molar_mass" step="any" id="id_form-9-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-9-chromatograph_mass" step="any" id="id_form-9-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-9-calculated_mass" step="any" id="id_form-9-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-10-name" maxlength="255" value="O2" id="id_form-10-name"></td>#}
{#                    <td><input type="number" name="form-10-molar_content_of_components" step="any" id="id_form-10-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-10-molar_mass_of_the_component" step="any" id="id_form-10-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-10-total_molar_mass" step="any" id="id_form-10-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-10-chromatograph_mass" step="any" id="id_form-10-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-10-calculated_mass" step="any" id="id_form-10-calculated_mass"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><input type="text" name="form-11-name" maxlength="255" value="Сумма" id="id_form-11-name"></td>#}
{#                    <td><input type="number" name="form-11-molar_content_of_components" step="any" id="id_form-11-molar_content_of_components"></td>#}
{#                    <td><input type="number" name="form-11-molar_mass_of_the_component" step="any" id="id_form-11-molar_mass_of_the_component"></td>#}
{#                    <td><input type="number" name="form-11-total_molar_mass" step="any" id="id_form-11-total_molar_mass"></td>#}
{#                    <td><input type="number" name="form-11-chromatograph_mass" step="any" id="id_form-11-chromatograph_mass"></td>#}
{#                    <td><input type="number" name="form-11-calculated_mass" step="any" id="id_form-11-calculated_mass"></td>#}
{#                </tr>#}

                <tr>
                    <td colspan="2">
                        <input type="hidden" name="form-TOTAL_FORMS" id="id_form-TOTAL_FORMS" value='12'>
                        <input type="hidden" name="form-INITIAL_FORMS" id="id_form-INITIAL_FORMS"  value='12'>
                        <input type="hidden" name="form-MIN_NUM_FORMS" id="id_form-MIN_NUM_FORMS"  value='12'>
                        <input type="hidden" name="form-MAX_NUM_FORMS" id="id_form-MAX_NUM_FORMS"  value='12'>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="button_save_form">Сохранить</button>
        <script type="text/javascript" src="{% static 'js/oks/oks_calculate.js'%}" ></script>
    </form>
</div>


